.createProjectBtn {
    height: 4rem;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    font-size: 1rem;
}


.actionButton {
    height: 4rem;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

.actionButton:hover {
    border: 1px solid #9e9e9e;
    background-color: rgba(191, 191, 191, 0.25);
    box-shadow: 0 0 6px 2px #dedede6e;
}

.actionButton.large {
    height: 8rem;
    width: 14rem;
    font-size: 1.25rem;
    gap: 1rem;
}

.actionButton.small {
    height: 3rem;
    width: 6rem;
    font-size: 0.75rem;
    gap: 0.1rem;
}

