.createProjectBtn {
    height: 4rem;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    font-size: 1rem;
}