.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    overflow: auto;
    background-color: rgb(0 0 0 / 60%);
}

/*[data-mode="light"] .modal {*/
/*    background-color: rgb(0 0 0 / 60%);*/
/*}*/

.modal.open {
    display: block !important;
}

.modal .modalWrapper {
    max-width: 600px;
    margin: 2rem auto;
    overflow: auto;
    position: relative;
}

.modal.fullScreen .modalWrapper {
    max-width: 100%;
    margin: 0;
    background: var(--modal-bg);
    height: 100%;
}

.modal .modalContent {
    /*background-color: rgba(44, 44, 44, 0.06);*/
    background: var(--modal-bg);
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.modal.fullScreen .modalContent {
    border-radius: 0;
}

.modal .modalTitle {
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.5rem;
}


.modal .modalCloseBtn {
    position: fixed;
    top: 2.75rem;
    right: calc(50% - 300px - 2.65rem);
    background-color: #ffffff80;
    border: 0;
    padding: 0.25rem;
    font-weight: 200;
    font-size: 1.75rem;
    line-height: 0.35rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    color: var(--body-color);
}

.modal .modalCloseBtn:hover {
    background-color: #ffffffc9;
}

[data-mode="dark"] .modal .modalCloseBtn {
    background-color: #525252b0;
}

[data-mode="dark"] .modal .modalCloseBtn:hover {
    background-color: #525252;
}

.modal .modalLinks {
    position: fixed;
    margin: 1rem;
    transform: translateX(600px);
}

.modal .modalLinks i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    height: 40px;
    width: 40px;
    font-size: 1.25rem;
    padding: 4px;
    border-radius: 50%;
}

.modalImage {
    max-width: 100%;
    height: auto;
}

.card img {
    object-fit: cover;
    width: inherit;
    transition: all 0.3s ease-in-out;
}

.card img:hover {
    cursor: pointer;
    object-position: left top;
    transform: scale(1.25);
}

@media screen and (max-width: 767px) {
    .card {
        height: 13.5rem;
        width: 17.5rem;
    }
    .modal .modalCloseBtn {
        top: 2.75rem;
        right: 2rem;
    }
}

@media screen and (max-width: 428px) {
    .card {
        height: 13.5rem;
        width: 90vw;
    }

    .modal .modalCloseBtn {
        top: 2.75rem;
        right: 2rem;
    }
}
